

.parentContainer {
  background-color: #F3F1EB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background:  linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
    url('../../public/images/checked.png');
}

.childContainer {
    width: 90%;
    height: 80%;
    display: flex;
}

.column {
    flex-basis: 50%;
    /* display: flex; */
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 12px 32px -12px #4e4b661f;

}

.column1 {
    background-color: white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 20px 100px;
}

.column2 {
    background-color: #F3DA21;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
padding: 30px;
    background-repeat: no-repeat;
}

.arrow {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.arrowLeft {
    left: 10px;
}

.arrowRight {
    right: 10px;
}

.image-user{
  margin-bottom: 20px;
}